
<div class="login-page">
    <div class="lead">
        <h1>Login</h1>
        <p>Choose how to login</p>
    </div>

    <div class="row">

          <div class="col-sm-6">
                <div class="card">
                    <div class="card-header">
                        <h2>Local Account</h2>
                    </div>

                    <div class="card-body">
                        <form>

                            <div class="form-group">
                                <label for="Email"></label>
                                <input id="txtEmail" class="form-control" placeholder="Email" for="Email" autofocus>
                            </div>
                            <div class="form-group">
                                <label for="Password"></label>
                                <input type="password" id="txtPassword" class="form-control" placeholder="Password" for="Password" autocomplete="off">
                            </div>
                             <br/>
                            <submit id="BtnLogin" class="btn btn-primary" name="button" value="login">Login</submit>
                            <button class="btn btn-secondary" name="button" value="cancel">Cancel</button>
                        </form>
                    </div>
                    <div>
                        <a href="@Url.Action("Register", new {})">New User? Register</a>
                    </div>
                </div>
            </div>
    </div>
</div>
<script type="text/javascript">

    //Onclick event of the Login button
    $("#BtnLogin").click(function (event) {
    try {
        //Disable the login button when user click the button (This will avoid user clicking the button multiple time)
        $('#BtnLogin').attr('disabled', true);
        //Initiate the loading while the request is been sent to the API
        AddLoader('BtnLogin');;
        let email = $("#txtEmail").val();
        let password = $("#txtPassword").val();
        //Validate the Email input
        if (email == "" ) {
            toastr.warning("Email is required");
            $('#BtnRegister').attr('disabled', false);
            RemoveLoader();
            RemoveLoader();
            return false;

        }
         //Validate the Password input
        else if (password == "") {
            toastr.warning("Password is required");
            $('#BtnRegister').attr('disabled', false);
            RemoveLoader();
            RemoveLoader();
            return false;
        }
        else {
            let url = "/Account/Login";
            //Construt the login Model 
            var loginModel = { Email: email, Password: password };
            //Generic Ajax method that process all the HTTP request on the system
            ajaxAsync(url, JSON.stringify(loginModel), 'POST', LoginResponse, true);
            event.preventDefault();
            return false;
        }


    } catch (ex) {
        //Catch exepetion handler
        toastr.error(ex.Message)
        $('#BtnRegister').attr('disabled', false);
        RemoveLoader();
        RemoveLoader();
    }

    function LoginResponse(data){
        //Callback function that is called when th response return from the API
        console.log(data);
        if (data.isSuccess) {
             toastr.success(data.displayMessage);
             window.location.href = "https://localhost:7223/";
             RemoveLoader();
             RemoveLoader();
        }
        else{
            toastr.success(data.displayMessage);
             $('#BtnRegister').attr('disabled', false);
             RemoveLoader();
             RemoveLoader();
        }
    }
});
</script>